<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodciti.foodcitipartener">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".utils.Application"
        android:allowBackup="true"
        android:icon="@mipmap/foodcity"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SystemSettings"></activity>
        <activity android:name=".activities.AdditionalSettings" />
        <activity
            android:name=".activities.VendorInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.ManagePostalInfo" />
        <activity android:name=".activities.DataExplorer">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".services.PrintService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.LoggerUploadService"
            android:enabled="true"
            android:exported="true" />


        <activity android:name=".activities.Billing2" />
        <activity android:name=".activities.ManageColorsActivity" />
        <activity android:name=".activities.KeyBoardTest">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activities.BasicTableMenuActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.OrderTotalActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.BasicMenuActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.ManageOrdersActivity" />
        <activity
            android:name=".activities.TestActivity"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activities.ManageDriversActivity" />
        <activity android:name=".activities.NewReportActivity" />
        <activity
            android:name=".activities.ManageUsersActivity"
            android:label="@string/title_activity_manage_users"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.EditOrder" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.StartScreenActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activities.SendMessageActivity" />
        <activity android:name=".activities.EditMenu" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.ResturantMainActivityNewPro" />

        <activity
            android:name=".activities.NewCustomerInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
<meta-data
            android:name="io.fabric.ApiKey"
            android:value="aae0914b0bf4347b7ca792d13f803a3c2e3d698b" />
        -->
        <receiver android:name=".compound_views.CounterBox">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/counter_box_info" />
        </receiver>
        <service android:name=".firebase.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".keyboards.PrimaryKeyboard">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/primary_keyboard_info" />
        </receiver>
        <receiver android:name=".compound_views.DiscountView">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/discount_view_info" />
        </receiver>

        <service
            android:name=".services.CallerIDService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SmsService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.FirebaseBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>